@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/homemaster.cshtml";
    }
<style>
  
     #a::first-letter{
                         font-size:50px;
                          color:yellow;
                     }
    
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12"style="min-height:300px;padding:0px; background-image:linear-gradient(white,skyblue);">

            <h1 style="color:green;text-align:center;font-family:'Times New Roman';text-shadow:2px 2px 2px green">About Us</h1>  
        <hr /> 
            <div class="col-sm-8 panel panel-body">

                <p id="a" style="text-align:justify;color:maroon;font-size:18px;font-family:'Times New Roman'">
                    Career guidance help students understand their strengths and weaknesses and then match them
                    with their skills and interest so that they get the best suitable career choice. One wrong choice can
                    not only cost a lot of money but also amount to waste of some precious years.
                    Carrier guidance is very much necessary for the upcoming generations students opt. There
                    subjects there courses unknowingly , many of our youth don’t know there interests there caliber
                    and have no goals or Carrier planning. In many cases students were forced to become and opt
                    according to there parents will, most of the people run towards engineering or medical giving less
                    preference to there interests and  talents
                </p>
            </div>  
            <div class="col-sm-4 panel panel-body">
                <img src="~/Content/image/carrir2.jpg" class="img img-responsive" style="height:206px;width:400px; margin-left:20px;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="min-height:300px;padding:0px; background-image:linear-gradient(white,skyblue);">
            <div class="col-sm-4 panel panel-body">
                <img src="~/Content/image/carrer.jpeg" class="img img-responsive" style="height:206px;width:400px; margin-left:20px;" />
            </div>
            <div class="col-sm-8 panel panel-body">

                <p id="a" style="text-align:justify;color:maroon;font-size:18px;font-family:'Times New Roman'">
                    The word “guidance” originated back in the 1530s, and is defined as the process of directing conduct. Career guidance can be defined as a comprehensive, developmental program designed to assist individuals in making and implementing informed educational and occupational choices. In simple words, it is a journey on which people develop to make mature and informed decisions. It is the act of guiding or showing the way; it is the act of seeking advice.

                    Career guidance is the guidance given to individuals to help them acquire the knowledge, information, skills, and experience necessary to identify career options, and narrow them down to make one career decision. 
                </p>
            </div>
        </div>
    </div>
</div>

