@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/usermaster.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" >
            <div class="col-sm-4">

            </div>
                <div class="col-sm-4 panel panel-body" style="border: 2px solid grey; background-color:teal;" >

                 
            <form action="/user/Changepassword" method="post">
                <label>
                    Old Password :-
                </label>
                    <input type="password" class="form-control" name="txtopass" />
                <br />
                <label>
                    New Password :-
                </label>
                    <input type="password" class="form-control" name="npass" />
                <br />
                <label>
                    Confirm Password :-
                </label>
                    <input type="password" class="form-control" name="cpass" />
             
                <br/>
                <input type="submit"class="form-control btn-primary" />
            </form>
            
        </div>
            <div class="col-sm-4"></div>
    </div>
</div>
</div>