@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/homemaster.cshtml";
}

<div class="container">
   <div class="row">
       <div class="col-sm-12">
           <div class="col-sm-8" style="margin-top:70px;">
               <form action="ContactUs" method="post" style="border:1px solid black; border-radius:5px;">
                   <div class="col-sm-12" style="background: #16ad82; text-align: center;  padding20px;">
                       <span style="color:white; font-size:23px;">ContactUs</span>
                   </div>
                   <label style="margin-left:10%">Email</label>
                   <input type="text" placeholder="Enter Email" style="width:80%; margin-left:10%" class="form-control" name="email" required />
                   <label style="margin-left:10%">Contact</label>
                   <input type="text" placeholder="Enter Contact" style="width:80%; margin-left:10%" class="form-control" name="contact" required/>
                   <label style="margin-left:10%">Address</label>
                   <input type="text" placeholder="Enter Address" style="width:80%; margin-left:10%" class="form-control" name="location" />
                   <br />
                   <input type="submit" value="Submit" style="width:50%; margin-left:25%; margin-bottom:5px; " class="btn btn-success btn-block"/>
               </form>
           </div>
           <div class="col-sm-4" style="margin-top:75px;">
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14233.104184400809!2d80.953551!3d26.894733!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf1a2d0fc9abd3c7!2sArcane%20programming%20infotech!5e0!3m2!1sen!2sin!4v1632566918138!5m2!1sen!2sin" width="350" height="250" style="border:0; " allowfullscreen="" loading="lazy"></iframe>
           </div>
       </div>
   </div>
    </div>

                   
    
