@{
    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/homemaster.cshtml";   
     }
        
        
        
        
    
<div class="col-sm-12 panel panel-body">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 panel panel-body">
        <form action="/Home/Enquiry" method="post" style="border: 1px solid gray; border-radius:10px;">
            <div class="col-sm-12" style="background: #16ad82; border-radius: 10px 10px 0px 0px; text-align:center;" >
              <span style="font-size:23px; color:white;">Enquiry Form</span>
            </div><br /><br />
            &nbsp; <label><u>Name</u> :</label>
            <input type="text" name="txtusername" class="form-control" required />
            &nbsp; <label><u>Email</u> :</label>
            <input type="email" name="txtemail" class="form-control"  required/>
            &nbsp; <label><u>Subject</u> :</label>
            <input type="text" name="txtsubject" class="form-control" />
            &nbsp; <label><u>Query</u> :</label>
            <input type="text" name="txtequery" class="form-control" />
            <br />
            <input type="submit" value="enquiry now" class="form-control" style="background:green; width:50%;margin-left:25%;margin-bottom:5px; color:white" />

        </form>

    </div>
    <div class="col-sm-4"></div>
</div>
 
       
