@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/homemaster.cshtml";
}
<link href="~/Content/css/event.css" rel="stylesheet" />
<div class="event-container">
    <h3 class="year">2020</h3>
    <div class="event">
        <div class="event-left">

            <div class="event-date">
                <div class="date">8</div>
                <div class="month">Nov</div>
            </div>

        </div>
        <div class="event-right">
            <h3 class="event-tittle">Career Fairs</h3>
            <div class="event-description">Career fairs are held at universities across the country and are usually focussed on a specific sector, be it engineering, finance, law etc. At career fairs, graduate employers set up a fancy looking stand and hand out A LOT of freebies. However, it’s important to look past the stationery and sweets, no matter how much you’re in dire need for a rubber tipped pencil. </div>
            <div class="event-timing">
                <span class="glyphicon glyphicon-time"> 10:00am </span>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="event-left">

            <div class="event-date">
                <div class="date">22</div>
                <div class="month">Dec</div>
            </div>

        </div>
        <div class="event-right">
            <h3 class="event-tittle">Career Seminars</h3>
            <div class="event-description">
                Career seminars, on the other hand, are organised and hosted by a university’s careers service that usually addresses a specific topic. For instance, CV workshops, a talk on using social media in your job search and a presentation on interviewing techniques would all fall under the category of career seminars.
            </div>
            <div class="event-timing">
                <span class="glyphicon glyphicon-time"> 10:00am </span>
            </div>
        </div>
    </div>
    <h3 class="year">
        2021
    </h3>
    <div class="event">
        <div class="event-left">

            <div class="event-date">
                <div class="date">18</div>
                <div class="month">Jan</div>
            </div>

        </div>
        <div class="event-right">
            <h3 class="event-tittle">Employer Presentations</h3>
            <div class="event-description">
                Finally, employer presentations are usually organised by the employer as opposed to the university careers service. This also means that these career events are held at the employer’s office, as opposed to the university itself.
            </div>
            <div class="event-timing">
                <span class="glyphicon glyphicon-time">10:00am </span>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="event-left">

            <div class="event-date">
                <div class="date">22</div>
                <div class="month">Feb</div>
            </div>

        </div>
        <div class="event-right">
            <h3 class="event-tittle">Personality Development</h3>
            <div class="event-description">
                Personality development encompasses the dynamic construction and deconstruction of integrative characteristics that distinguish an individual in terms of interpersonal behavioral traits
            </div>
            <div class="event-timing">
                <span class="glyphicon glyphicon-time">10:00am </span>
            </div>
        </div>
    </div>
   
   
</div>
